target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
0f4e9256-bf8c-43f5-adbf-86b23ec00a9a-tcptestmosquittoorg1883/.lck
7521d93b-cda4-4ed3-a581-df1f030000eb-tcptestmosquittoorg1883/.lck
78255e57-52f0-4250-8033-af232b609ed4-tcptestmosquittoorg1883/.lck
89765ae4-8051-4ab0-879e-feeebf65bcd8-tcptestmosquittoorg1883/.lck
93414718-803e-48ca-8b63-b319bd431386-tcptestmosquittoorg1883/.lck
b8cd4fb0-0a32-4614-ac42-30c3a82a86ec-tcptestmosquittoorg1883/.lck
